@media screen and (max-width:768px){
    .main{
        height: auto;
    }

    nav{
        height: auto;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: static;
    }
    .navbar{
        flex-direction: column;
    }
    .service{
        padding: 50px 30px;
    }
    .service-row{
        grid-template-columns: 1fr;
    }

    .footer-container{
        grid-template-columns: 1fr;
    }

    .social-icons{
        justify-content: start;
    }
}
